$Header-background: linear-gradient(to right, #ffcc00 0%, #ffff00 100%);
$Cart-button-color: linear-gradient(to bottom, #ff0000 0%, #ff3300 100%);
$Cart-button-color-on-hover: rgb(245, 19, 19);
$Meals-banner-transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
$Badge-color: #cc0000;
$Badge-on-hover:#cc0015;
$MealSummaryBG: linear-gradient(to bottom, #ffcc99 0%, #ffff99 100%);
$Shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
$Gold:#EAC117;
$Title:#663300;
